/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1{
  text-align:center;
}

body{
  font-family: 'Roboto Mono', monospace;
  position:relative;
}

#selection{
  text-align:center;
  color:white;
  background-color:#490e15;
  width:350px;
  height:110px;
  margin:0 auto;
  padding:10px;
  border-radius:5px;
}

#directions-button{
  background-color:purple;
  display:inline;
  text-align: center;
  width:100px;
  border-radius:4px;
  border:1px solid gray;
  padding:5px;
  color:white;
  vertical-align:center;
  line-height:25px;
}

#directions-container{
  margin:0 auto;
  width:500px;
  text-align: center;
}

#selection h3{
  padding-top:5px;
}

#message{
  line-height:22px;
}

.option{
  display:inline-block;
  margin-right:10px;
  margin-top:20px;
  height:25px;
  border-radius:4px;
  border:1px solid gray;
  padding:5px;
  color:white;
  vertical-align:center;
  line-height:25px;
}

#beginner{
  background-color:blue;
}

#intermediate{
  background-color:yellow;
  color:black;
}

#expert{
  background-color:black;
}

.bg-flag{
  background-image: url('../images/flag.png');
  background-size:cover;
}

.bg-mine{
  background-image: url('../images/mine.png');
  background-size:cover;
}

#directions{
  width:500px;
  margin:0 auto;
  text-align:left;
  display:none;
}

li{
  padding-bottom:10px;
}

#board{
	width:162px;
	height:162px;
	font-size: 0;
	margin:0 auto;
}

.cell{
	height:16px;
	width:16px;
	border:1px solid gray;
	display:inline-block;
	font-size:14px;
  overflow:hidden;
  vertical-align:center;
  line-height:16px;
  text-align:center;
  background-color:#C0C0C0;
}


